<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mind Warrior</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header class="navbar">
        <div class="logo">🧠 Mind Warrior</div>

        <nav>
            <a href="/">Home</a>
            <a href="/login">Admin Login 🔒</a>
        </nav>
    </header>

    <main class="hero">

        <div class="hero-content">

            <div class="brain">🧠</div>

            <h1>Mind Warrior</h1>

            <p>
                Learn • Read • Grow • Become a Mind Warrior
            </p>

            <p class="description">
                Explore useful PDF resources and improve your knowledge.
            </p>

            <a href="/login" class="main-button">
                🔐 Admin Login
            </a>

        </div>

    </main>

    <footer>
        <p>© 2026 Mind Warrior</p>
        <p>Created by Anas</p>
    </footer>

</body>
</html>